.flex-row {
  display: flex;
}

.padding-h {
  padding-left: 25px;
  padding-right: 5px;
}

.margin-l {
  margin-left: 20px;
}

.padding-5 {
  padding: 5px;
}

.align-items-c {
  display: flex;
  align-items: center;
}
